<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RemoteIPAddress" value="192.168.1.200"/>
    <add key="RemoteIPPort" value="3999"/>
    <add key="ReceivedFrameWaitTime_ms" value="100"/>
    <add key="LostFrameWaitTime_ms" value="200"/>
  </appSettings>
</configuration>